body {
    margin: 0;
    background-color: rgba(128, 128, 128, 0.201);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}


.box {
    height: 500px;
    width: 500px;
    background-color: aliceblue;
    display: flex;
    flex-basis: auto;
    flex-flow: row wrap;
}

.smallbox {
    height: 31.25px;
    width: 31.25px;
}