body {
    margin: 0;
    background-color: rgba(74, 74, 74, 0.059);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}


.box {
    height: 500px;
    width: 500px;
    background-color: rgb(244, 248, 251);
    display: flex;
    flex-basis: auto;
    flex-flow: row wrap;
    border-radius: 3%;
    box-shadow: 2px 2px 4px;
}

.smallbox {
    height: 15.625px;
    width: 15.625px;
}

.coloured {
    background-color: brown;
}